<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="http://localhost:3000">Home</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/livros">Livros</a>
                    </li>
                </ul>
            </nav>
        </header>
        <h1>Casa do Código</h1>
    </body>
</html>