<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Listagem de livros</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="http://localhost:3000">Home</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/livros">Livros</a>
                    </li>
                </ul>
            </nav>
        </header>
        <h1>Listagem de livros</h1>

        <table id="livros">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            <tr id="livro_${livro.id}" for (livro in data.livros)>
                <td>${livro.id}</td>
                <td>${livro.titulo}</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a href="#" data-ref="${livro.id}" data-type="remocao">Remover</a>
                </td>
            </tr>
        </table>

        <script src="/estatico/js/remove-livro.js"></script>
    </body>
</html>